*{
  box-sizing: border-box;
}

html,body, header{
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  height: 100%;
  margin: 0;
  font-size: 14px;
  color: #7567a7;
}

.container{
  background: url('/public_html/img/alterdata-01.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

.login{
  color: #AAA;
  margin: 5rem auto;
  background-color: rgba(0, 0, 0, 0.404);
  padding: 3rem 4rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.8rem;
}

.login h2{
  font-size: 2rem;
  color: #FFF;
}

.login form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.login input{
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: #393939;
  color: #FFF;
  margin: 0.5rem 0 1.5rem;
  padding: 1rem 2.1rem;
}

#login, #senha{
  width: 100%;
}

.btn {
  margin: 0.5rem 0 1.5rem;
  padding: none;
  outline: none;
  color: #FFF;
  border-radius: 0.3rem;
}

.btn-danger{
  background-color: #7567a7;
  height: 41px;
}

.auxiliar{
  display: inline-block;
}

.auxiliar label{
  float: left;
}

.auxiliar input[type="checkbox"]{
  margin: 0;
  padding: 0;
}

.auxiliar a{
  float: right;
  color: #FFF;
  text-decoration: none;
}
.login footer{
  margin: 3rem 0 1rem;
}

.login footer a{
  color: #FFF;
  text-decoration: none;
}
