*{
  box-sizing: border-box;
}

html,body{
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  height: 100%;
  margin: 0;
  font-size: 14px;
}


.container{
  background: url('/public_html/img/alterdata-01.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

.container h1{
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.login{
  color: rgb(41, 40, 40);
  margin: 5rem auto;
  background-color: rgba(161, 159, 250, 0.404);
  padding: 3rem 4rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.8rem;
}

.login h2{
  font-size: 2rem;
  color: #FFF;
}

.login form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.btn {
  width: 75px;
  height: 25px;
}
